<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Mobile BuyDirect Automation Test Suite">
	
    <listeners>
        <listener class-name="com.BuyDirect.listeners.ExtentTestNGListener"/>
    </listeners>
    
    <test name="Test Cases">
        <classes>
            <class name="com.BuyDirect.tests.BaseTest"/>
            <class name="com.BuyDirect.tests.WelcomePageTest"/>
            <class name="com.BuyDirect.tests.EnrollPageTest"/>
            


           <!-- <class name="com.BuyDirect.tests.SignInPageTest"/> -->
           <!-- <class name="com.BuyDirect.tests.AddressPageTest"/> -->
           <!-- <class name="com.BuyDirect.tests.BankingIntroPageTest"/> -->
            
            
            
            <!-- Add more test classes if needed -->
        </classes>
    </test>
</suite>
